<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fault Tracking System</title>
    <!-- Link to Green Theme CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-4 text-center">Fault Tracking System</h1>
    <div class="text-center">
        <a th:href="@{/create-registry}" class="btn btn-success">Create Registry</a>
    </div>
</div>
</body>
</html>
